
html, body {
    background-color: rgb(230, 207, 207);
    color: rgb(122, 98, 98);
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    padding: 70px;
    
}

button{
    padding: 15px;
    font-size: 20px;
    border-radius: 30%;
    background-color: blanchedalmond;
    margin-right: 10px;
}